.menu {
  width: 60%;
  margin: 4% auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: #373737;
}

svg {
  fill: #6d7993 !important;
}

#menu-item {
  margin: 1% auto;
}

#menu-item a {
  text-decoration: underline;
  color: #373737;
}

#menu-item a:visited {
  text-decoration: underline;
} 

#logo {
  margin: 1% auto;
  height: 100%;
}

#screenshot {
  width: 300px;
  margin: 1% auto;
}

.circle-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

#profile-pic {
  width: inherit;
}

.text {
  color: #ffd3b4;
  text-align: center;
  font-family: 'Lora', serif;
}

#section-title {
  text-decoration: bold;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
}

#section-subtitle {
  text-decoration: underline;
  font-size: 25px;
}

#section-content {
  text-align: justify;
  font-size: 25px;
}

#name-text {
  font-size: 20px;
}

#role-text {
  font-size: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.complete li:before {
  content: '✓';
  margin: 3% auto;
}

ul.not-complete li:before {
  content: 'x';
  margin: 3% auto;
}

.section-container {
  background-color: #6d7993;
  min-height: 70vh;
  width: 60%;
  margin: 2% auto;
  outline: 2px dotted white;
  outline-offset: -10px;
  padding: 2%;
}

.team {
  background-color: #6d7993;
  min-height: 70vh;
  width: 60%;
  margin: 2% auto;
  outline: 2px dotted white;
  outline-offset: -10px;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.row1 {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.row2 {
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.left {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  float: right;
  width: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  #section-content {
      font-size: 15px;
      margin: 4%;
  }

  #section-subtitle {
      font-size: 15px;
      margin: 10%;
  }

  #section-title {
      font-size: 25px;
  }

  #screenshot {
      height: 90px;
  }

  .menu {
      font-size: 15px;
      width: auto;
  }

  .row1 {
      display: flex;
      flex-direction: column;
      margin: 2%;
  }

  .left {
      width: 100%;
  }

  .right {
      width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  #section-content {
      font-size: 20px;
      margin: 5%;
  }

  .menu {
      font-size: 20px;
      width: auto;
  }

  .row1 {
      display: flex;
      flex-direction: column;
      margin: 2%;
  }

  .left {
      width: 100%;
  }

  .right {
      width: 100%;
  }
}
